:root { --cor-de-fundo: #1E1E1E; --verde: #6fff57; --branco: #FFFFFF; --botao-ativo: #3A375E; --botao-inativo: rgba(58, 55, 94, 0.5); --texto-fundo: rgba(58, 55, 94, 0.3)   }

.teachers-<uniquifier> {
  font-family: "Teachers", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body { background-color: var(--cor-de-fundo);   color: var(--branco);  font-family: teachers;}